<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动后台管理|北航大学生活动</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css" media="all">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">北航大学生活动</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.admin.username}"></a>
            </li>
            <li class="layui-nav-item"><a th:href="@{/u/logout}">登出</a></li>
        </ul>
    </div>

s
    <div class="layui-body">
        <div style="padding: 15px;">
            <table class="layui-hide" id="actTable" lay-filter="actTable"></table>
        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" >
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">活动管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a th:if="${session.isSysadmin}" th:href="@{/sysadmin/index_sys}">系统管理</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-footer">
        © ARS-AM-2
    </div>
</div>

<script type="text/html" id="barCheck">
    <a id="permitBtn" class="layui-btn layui-btn-xs" lay-event="permit">批准</a>
</script>
<script src="/webjars/layui/2.5.6/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'table', 'element'], function(){
        var layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element; //元素操作

        //监听Tab切换
        element.on('tab(activity)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });

        //执行一个 table 实例
        var tableIns = table.render({
            elem: '#actTable'
            ,height: 420
            ,url: '/admin/activities/authed' //数据接口
            ,request:{
                pageName: 'pageNum'
                ,limitName:'limit'
            }
            ,title: '活动表'
            ,page: true //开启分页
            ,id: 'actTable'
            ,cols:
                [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                        ,{field: 'category', title: 'Category', width:100}
                        ,{field: 'title', title: '项目名', width:100,sort: true}
                        ,{field: 'ddl', title: '报名截止时间', width: 140,sort: true}
                        ,{field: 'begin', title: '开始时间', width: 110, sort: true}
                        ,{field: 'end', title: '结束时间', width: 110, sort: true}
                        ,{field: 'brief', title: '简介', width: 100}
                        ,{field: 'isOpen', title: '审核', width: 100, sort: true}
                        ,{field: 'limitPeopleNum', title: '人数上限', width: 110, sort: true}
                        ,{field: 'state', title: '状态', width: 100, sort: true}
                        ,{field: 'extra', title: '额外信息', width: 135}
                        ,{fixed: 'right', width: 165, align:'center', toolbar: '#barCheck'}
                    ]
                ]
            ,parseData:function(res) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.length, //解析数据长度
                    "data": res //解析数据列表
                };
            }
        });

        var $ = layui.$;

        //监听头工具栏事件
        // table.on('toolbar(actTable)', function(obj){
        //     var checkStatus = table.checkStatus(obj.config.id)
        //         ,data = checkStatus.data; //获取选中的数据
        //     switch(obj.event){
        //         case 'add':
        //             layer.msg('添加');
        //             break;
        //         case 'update':
        //             if(data.length === 0){
        //                 layer.msg('请选择一行');
        //             } else if(data.length > 1){
        //                 layer.msg('只能同时编辑一个');
        //             } else {
        //                 layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
        //             }
        //             break;
        //         case 'delete':
        //             if(data.length === 0){
        //                 layer.msg('请选择一行');
        //             } else {
        //                 layer.msg('删除');
        //             }
        //             break;
        //     };
        // });

        // $('#permitBtn').on('click', function(){
        //     console.log('click');
        //     tableIns.reload({
        //         page:{
        //             curr:1
        //         }
        //     })
        // });

        //监听行工具事件
        table.on('tool(actTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            var activityId = data.id;
            if(layEvent === 'permit'){
                console.log(data);
                console.log(activityId);
                $.ajax({
                    url:'/admin/activities/permit',
                    type:'PUT',
                    data: {"id":activityId},
                    success:function (data) {
                        tableIns.reload({
                            page:{
                                curr:1
                            }
                        })
                        var jsonData = JSON.parse(data);
                        layer.msg(String(jsonData.message));
                    },
                    error:function (data) {
                        layer.msg(data)
                    }
                })
            }
        });
    });
</script>
</body>
</html>