<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag管理|北航大学生活动</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">北航大学生活动</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${id}"></a>
            </li>
            <li class="layui-nav-item"><a th:href="@{logout}" >登出</a></li>
        </ul>
    </div>


    <div class="layui-body">
        <div style="padding: 15px;">
            <div class="demoTable">
                搜索Tag：
                <div class="layui-inline">
                    <input class="layui-input" name="name" id="demoSearch" autocomplete="off">
                </div>
                <button id="searchBtn" class="layui-btn" data-type="reload">搜索</button>
                添加Tag：
                <div class="layui-inline">
                    <input class="layui-input" name="name" id="demoAdd" autocomplete="off">
                </div>
                <button id="addBtn" class="layui-btn" data-type="reload">添加</button>
            </div>
            <table class="layui-hide" id="tagTable" lay-filter="tagTable"></table>
        </div>
    </div>

    <script type="text/html" id="toolbarHead">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addTag">添加Tag</button>
            <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteTag">删除Tag</button>
        </div>
    </script>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" >
                <li class="layui-nav-item layui-nav-itemed">
                <li class="layui-nav-item layui-nav-itemed">
                    <a th:href="@{/sysadmin/index_act}">活动管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/sysadmin/index_sys}">用户管理</a></dd>
                        <dd><a th:href="@{/sysadmin/index_tag}">标签管理</a></dd>
                    </dl>
                </li>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-footer">
        © ARS-AM-2
    </div>
</div>
<script type="text/html" id="tagCheck">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">DELETE</a>
</script>
<script src="/webjars/layui/2.5.6/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'table', 'element'],function () {
        var layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element //元素操作

        //监听Tab切换
        element.on('tab(tagTable)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });

        //执行一个 table 实例
        var tableIns = table.render({
            elem: '#tagTable'
            ,height: 420
            ,url: '/sysadmin/tags' //数据接口
            ,title: 'Tag表'
            ,page: true //开启分页
            //,toolbar: '#toolbarHead'
            ,id: 'tagTable'
            ,cols:
                [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                        ,{field: 'name', title: 'Tag名', width:100,sort: true}
                        ,{field: 'state', title: '权限', width:100,sort: true}
                        ,{fixed: 'right', width: 220, align:'center', toolbar: '#tagCheck'}
                    ]
                ]
            ,parseData:function(res) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.length, //解析数据长度
                    "data": res //解析数据列表
                };
            }
        });

        var $ = layui.$;

        tableIns.reload({
            where:{
                name:""
            }
            ,page:{
                curr:1
            }
        })

        $('#searchBtn').on('click', function(){
            var demoSearch = $('#demoSearch');
            tableIns.reload({
                where:{
                    name:demoSearch.val()
                }
                ,page:{
                    curr:1
                }
            })
        });

        $('#addBtn').on('click', function(){
            var demoAdd = $('#demoAdd').val();
            $.ajax({
                url:'/sysadmin/tags',
                type:'POST',
                data:{"name": demoAdd},
                success:function (data) {
                    tableIns.reload({
                        page:{
                            curr:1
                        }
                    })
                    var jsonData = JSON.parse(data);
                    layer.msg(String(jsonData.message));
                },
                error:function (data) {
                    console.log("error");
                    layer.msg(data)
                }
            })
        });

        //监听头工具栏事件
        // table.on('toolbar(tagTable)',function (obj) {
        //     var layEvent = obj.event,
        //         data = obj.data();
        //     if(layEvent === 'addTag'){
        //         console.log(data);
        //         $.ajax({
        //             url:'/sysadmin/tags',
        //             type:'POST',
        //             data:data,
        //             dataType:'json',
        //             success:function (data) {
        //                 //修改table里的状态
        //                 layer.msg('成功添加Tag');
        //             },
        //             error:function (data) {
        //                 layer.msg(data)
        //             }
        //         })
        //     }
            // else if(layEvent === 'deleteTag'){
            //     $.ajax({
            //         url:'/sysadmin/tags/{id}',
            //         type:'DELETE',
            //         data:data,
            //         dataType:'json',
            //         success:function (data) {
            //             //修改table里的状态
            //             layer.msg('成功删除Tag');
            //         },
            //         error:function (data) {
            //             layer.msg(data)
            //         }
            //     })
        //     // }
        // })

        //监听行工具事件
        table.on('tool(tagTable)', function(obj){
            var data = obj.data
                ,layEvent = obj.event;
            var id = data.id;
            console.log(id);
            if(layEvent === 'delete'){
                $.ajax({
                    url:'/sysadmin/tags/'+id,
                    type:'DELETE',
                    success:function (data) {
                        tableIns.reload({
                            page:{
                                curr:1
                            }
                        })
                        var jsonData = JSON.parse(data);
                        layer.msg(String(jsonData.message));
                    },
                    error:function (data) {
                        layer.msg(data)
                    }
                })
            }
        });
    });

</script>
</body>
</html>