<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面|北航大学生活动</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
</head>
<body style="background-image: url('img/2.png');  background-size: cover; z-index: -1">
<div class="layui-container" style="top: 250px">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4" style="background-color: rgba(255,255,255,0.4)">
            <form class="layui-form layui-form-pane" th:action="@{/u/login}" method="post"  >
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <h1 class="layui-field-title" style="text-align: center">北航大学生活动发布与社交平台管理系统</h1>
                    </div>
                </div>
                <div th:if="${message}"  class="layui-layer-content">
                    <div class="layui-col-md12">
                        <div class="layui-field-title" th:text="${message}" style="color: #ff0000;text-align: center"></div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md10 layui-col-md-offset1">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账户</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" required  lay-verify="required" placeholder="请输入系统管理员账户" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md10 layui-col-md-offset1">
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row" >
                    <div class="layui-col-md4 layui-col-md-offset1">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="loginSubmit">登录</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/layui/2.5.6/layui.js"></script>
<script th:inline="javascript">

</script>
<script type="text/javascript">
    layui.use(['form','layer', 'element'],function () {
        var form = layui.form
            ,layer = layui.layer
            ,element = layui.element;
    });
</script>

</body>
</html>