<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.shakespace.template"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".in_fragment4.register">
        </activity>

        <activity android:name=".in_fragment4.login">
        </activity>

        <activity android:name=".in_fragment4.edit_info">
        </activity>

        <activity android:name=".in_fragment4.edit_password">
        </activity>

        <activity android:name=".in_fragment1.activity_detail">
        </activity>


        <activity android:name=".in_fragment1.fabuhuodong">
        </activity>

        <activity android:name=".in_fragment1.taolunqu">
        </activity>
        <activity android:name=".in_fragment1.fatie">
        </activity>

        <activity android:name=".in_fragment1.manage">
        </activity>

        <activity android:name=".in_fragment1.manage_next">
        </activity>

        <activity android:name=".in_fragment1.pizhun">
        </activity>
        <activity android:name=".in_fragment1.edit_huodong">
        </activity>
        <activity android:name=".in_fragment1.notify">
        </activity>




    </application>

</manifest>