<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.se.bhac.Dao.mapper.BhacUserMapper">
    <resultMap id="BhacUserMap" type="cn.edu.buaa.se.bhac.Dao.entity.BhacUser">
        <id property="id" column="id"/>
        <collection property="activitiesRelease" column="id" ofType="BhacActivity"
                    select="Activity1"/>
        <collection property="activitiesProcessing" column="id" ofType="BhacActivity"
                    select="Activity2"/>
        <collection property="activitiesSucceed" column="id" ofType="BhacActivity"
                    select="Activity3"/>
        <collection property="activitiesManage" column="id" ofType="BhacActivity"
                    select="Activity4"/>
        <collection property="rolesAct" column="id" ofType="BhacRole"
                    select="Role"/>
    </resultMap>

    <select id="Activity1" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where uid = #{id}
    </select>

    <select id="Activity2" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where id in (select aid from bhac_joinUserActivity where uid=#{id} and state=1 )
    </select>

    <select id="Activity3" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where id in (select aid from bhac_joinUserActivity where uid=#{id} and state=0)
    </select>

    <select id="Activity4" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where id in (select aid from bhac_manageUserActivity where uid=#{id})
    </select>

    <select id="Role" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacRoleMapper.BhacRoleMap">
        select * from bhac_role where id in(select rid from bhac_actUserRole where uid = #{id} )
    </select>
</mapper>