<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper">
    <resultMap id="BhacTagMap" type="cn.edu.buaa.se.bhac.Dao.entity.BhacTag">
        <id property="id" column="id"/>
        <collection property="posts" column="id" ofType="BhacPost"
                    select="Post"/>
        <collection property="roles" column="id" ofType="BhacRole"
                    select="Role"/>
        <collection property="activitiesBelong" column="id" ofType="BhacActivity"
                    select="Activity"/>
    </resultMap>

    <select id="Post" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper.BhacTagMap">
        select * from bhac_post where tid = #{id}
    </select>

    <select id="Role" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacRoleMapper.BhacRoleMap">
        select * from bhac_role where tid = #{id}
    </select>

    <select id="Activity" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where id in (select aid from bhac_belongActivityTag where tid = #{id})
    </select>


</mapper>