<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.se.bhac.Dao.mapper.BhacCommentMapper">
    <resultMap id="BhacCommentMap" type="cn.edu.buaa.se.bhac.Dao.entity.BhacComment">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="postedBy" column="postedBy"/>
        <result property="content" column="content" jdbcType="BLOB" typeHandler="cn.edu.buaa.se.bhac.config.BlogTypeHandler"/>
        <association property="post" column="pgid" javaType="cn.edu.buaa.se.bhac.Dao.entity.BhacPost"
                    select="Post"/>
        <association property="poster" column="postedBy" javaType="cn.edu.buaa.se.bhac.Dao.entity.BhacUser"
                     select="User"/>
    </resultMap>

    <select id="Post" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacPostMapper.BhacPostMap">
        select * from bhac_post where id = #{id}
    </select>

    <select id="User" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacUserMapper.BhacUserMap">
       select * from bhac_user where id = #{id}
    </select>

</mapper>

