<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.se.bhac.Dao.mapper.BhacPostMapper">
    <resultMap id="BhacPostMap" type="cn.edu.buaa.se.bhac.Dao.entity.BhacPost">
        <id property="id" column="id"/>
        <association property="tag" column="tid" javaType="cn.edu.buaa.se.bhac.Dao.entity.BhacTag"
                     select="Tag"/>
        <association property="activity" column="aid" javaType="cn.edu.buaa.se.bhac.Dao.entity.BhacActivity"
                     select="Activity"/>
        <association property="poster" column="postedBy" javaType="cn.edu.buaa.se.bhac.Dao.entity.BhacUser"
                     select="User"/>
        <collection property="comments" column="id" ofType="BhacComment"
                    select="Comment"/>
    </resultMap>

    <select id="Tag" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper.BhacTagMap">
        select * from bhac_tag where id = #{id}
    </select>

    <select id="User" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacUserMapper.BhacUserMap">
        select * from bhac_user where id = #{id}
    </select>

    <select id="Activity" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacActivityMapper.BhacActivityMap">
        select * from bhac_activity where id =#{id}
    </select>

    <select id="Comment" resultMap="cn.edu.buaa.se.bhac.Dao.mapper.BhacCommentMapper.BhacCommentMap">
        select * from bhac_comment where pid = #{id}
    </select>


</mapper>