<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper">
    <resultMap id="BhacTagMap" type="cn.edu.buaa.se.bhac.Dao.entity.BhacTag">
        <id property="id" column="id"/>
        <collection property="posts" column="id" ofType="cn.edu.buaa.se.bhac.Dao.entity.BhacPost"
                    select="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper.selectPostByTid"/>
        <collection property="roles" column="id" ofType="cn.edu.buaa.se.bhac.Dao.entity.BhacRole"
                    select="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper.selectRolesByTid"/>
        <collection property="activitiesBelong" column="id" ofType="cn.edu.buaa.se.bhac.Dao.entity.BhacActivity"
                    select="cn.edu.buaa.se.bhac.Dao.mapper.BhacTagMapper.selectBelongByTid"/>
    </resultMap>
</mapper>