<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.mapper.BhacUserMapper">
    <resultMap id="BhacUserMap" type="Dao.entity.BhacUser">
        <id property="id" column="id"/>
        <collection property="activitiesRelease" column="id" ofType="Dao.entity.BhacActivity"
                    select="Dao.mapper.BhacUserMapper.selectReleaseByUid"/>
        <collection property="activitiesProcessing" column="id" ofType="Dao.entity.BhacActivity"
                    select="Dao.mapper.BhacUserMapper.selectProcessingByUid"/>
        <collection property="activitiesSucceed" column="id" ofType="Dao.entity.BhacActivity"
                    select="Dao.mapper.BhacUserMapper.selectSucceedByUid"/>
        <collection property="activitiesManage" column="id" ofType="Dao.entity.BhacActivity"
                    select="Dao.mapper.BhacUserMapper.selectManageByUid"/>
        <collection property="rolesAct" column="id" ofType="Dao.entity.BhacRole"
                    select="Dao.mapper.BhacUserMapper.selectRoleByUid"/>
    </resultMap>
</mapper>